<div class="archives-page">
    <div class="container">
        <div class="input-group col-md-12">
            <input type="text" id="archiveSearch" class="form-control input-lg" ng-model="searchArchiveText" placeholder="Search archives" />
            <span class="input-group-btn" ng-show="searchArchiveText.length==0">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            <span class="input-group-btn" ng-hide="searchArchiveText.length==0" ng-click=cancelSearch()>
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </span>
        </div>
        <div class="row">
            <span class="col-md-12 filter_loading" ng-show="filter_loading">
                <i class="fa fa-spinner fa-spin"  style="font-size:32px;color: black"></i>
            </span>
            <div class="col-lg-12 col-md-12 col-sm-4 text-center filters">
                <!--<span class="filter-button" ng-repeat="filter in archiveFilters">{{filter}}</span>-->
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group" ng-repeat="filter in archiveFilters">
                        <button type="button" ng-click="archiveSelectFilter(filter)" class="btn btn-default"
                                ng-class="{selected: filter.isSelected, disabled: filter.isDisabled}">
                            {{filter.filterName | uppercase}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <table id="archivesTable" style="cursor:pointer" class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <td>COMPANY</td>
                    <td>NAME</td>
                    <td>DATE</td>
                    <td>Category</td>
                </tr>
                </thead>
                <span class="col-md-12 popup_loading" ng-show="popup_loading">
                <i class="fa fa-spinner fa-spin"  style="font-size:32px;color: black"></i>
                </span>
            </table>
        </div>

    </div>
</div>