<div class="archives-page">
    <div class="container">
            <common-search search-text="searchText"></common-search>
        <div class="row">
            <common-filter on-select="SelectFilter(filter)" filter-list="FiltersList" ></common-filter>
        </div>
        <div class="row">
            <span class="col-md-12 " style="position: fixed;left: 50%;top:35%;margin: -50px 0px 0px -50px;z-index: 1;"
                  ng-show="popup_loading">
                <i class="fa fa-spinner fa-spin"  style="font-size:32px;color: black"></i>
            </span>
            <common-data-table></common-data-table>
        </div>
    </div>
</div>