<div class="archives-page">
    <div class="container">
        <div class="input-group col-md-12">
            <input type="text" id="couponDetailSearch" class="form-control input-lg"
                   ng-model="couponDetailText" placeholder="Search" />
                    <span class="input-group-btn" ng-show="couponDetailText.length==0">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    <span class="input-group-btn" ng-hide="couponDetailText.length==0" ng-click=cancelCouponDetail()>
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </span>
        </div>
        <div style="margin: 5%"></div>
        <div class="row">
            <table id="couponDetailsTable" class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <td>Discount</td>
                    <td>DESCRIPTION</td>
                    <td>EXP DATE</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>