<div class="container home-page">

    <div class="col-md-12 col-md-offset-1 icon-grid">
        <div class="col-md-3 icon-block" ui-sref="archives">
           <img src="images/dashboardIcons/archives.png" alt="">
            <a class="btn btn-block btn-lg">
                <span>ARCHIVES</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="reminders">
           <img src="images/dashboardIcons/reminders.png" alt="">
            <a class="btn btn-block btn-lg">
                <span class="texto_grande"><i class="fa fa-plus-circle"></i>REMINDERS</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="coupons">
           <img src="images/dashboardIcons/coupons.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande"><i class="fa fa-times-circle-o"></i>COUPONS</span></a>
        </div>
        <div class="col-md-3 icon-block">
           <img src="images/dashboardIcons/orders.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande"><i class="fa fa-edit"></i>ORDERS</span></a>
        </div>
        <div class="col-md-3 icon-block">
           <img src="images/dashboardIcons/expense.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande"><i class="fa fa-list-ul"></i>EXPENSE</span></a>
        </div>
        <div class="col-md-3 icon-block">
           <img src="images/dashboardIcons/income.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande"><i class="fa fa-list-ul"></i>INCOME</span></a>
        </div>
        <div class="col-md-3 icon-block">
           <img src="images/dashboardIcons/todo.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande"><i class="fa fa-list-ul"></i>TODO</span></a>
        </div>
    </div>

</div>