
<div class="container home-page">
    <span class="col-md-12 loading_icon" ng-show="icon_loading">
        <i class="fa fa-spinner fa-spin"  style="font-size:32px;color: black"></i>
    </span>
    <div class="col-md-12 col-md-offset-1 icon-grid">
        <div class="col-md-3 icon-block" ui-sref="archives">
            <img src="images/dashboardIcons/archives.png" alt="">
            <a class="btn btn-block btn-lg">
                <span>ARCHIVES</span>
            </a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="reminders">
            <img src="images/dashboardIcons/reminders.png" alt="">
            <a class="btn btn-block btn-lg">
                <span class="texto_grande">REMINDERS</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="coupons">
            <img src="images/dashboardIcons/coupons.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande">COUPONS</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="orders">
            <img src="images/dashboardIcons/orders.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande">ORDERS</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="expense">
            <img src="images/dashboardIcons/expense.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande">EXPENSE</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="income">
            <img src="images/dashboardIcons/income.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande">INCOME</span></a>
        </div>
        <div class="col-md-3 icon-block" ui-sref="todo">
            <img src="images/dashboardIcons/todo.png" alt="">
            <a class="btn btn-block btn-lg" data-toggle="modal" data-target="#mymodal">
                <span class="texto_grande">TODO</span></a>
        </div>
    </div>

</div>