.main_body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin: 0;

}

h1.title {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

/***** Top content *****/

.bg {
    background-image: url("../images/backgrounds/1.png");
    background-size: cover;
    position: relative;
    min-height: 100% !important;
    width: 100%;

}
.bg:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom right,#3f7091,#1f395c);
    opacity: .9;

}

.inner-bg {
    padding: 3px 0 30px 0;
}

.top-content .text {
    color: #fff;
    width: 100%;
    margin: 0 auto !important;
    padding-left: 197px;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
    color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.matter {
    padding-top: 10px;
}


.social-login {
    margin-top: 35px;
}

.social-login h3 {
    font-size: 22px;
    font-weight: 300;
    /*color: #555;*/
    line-height: 30px;
    color: #fff;
}

.social-login-buttons {
    margin-top: 25px;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    width:10px;
}


/* Container */
.login_container {


    max-width: 1170px;
    width: 100%;
    height: auto;
    margin: 0 auto ;

}
.login_container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
}
.login_container.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
}
.login_container.active .card.alt {
    top: -3px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
}
.login_container.active .card.alt .toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    -webkit-transform: scale(10);
    transform: scale(10);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.login_container.active .card.alt .toggle:before {
    content: '';
}
.login_container.active .card.alt .title,
.login_container.active .card.alt .input-container,
.login_container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding-left: 0;
}
.login_container.active .card.alt .title {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.login_container.active .card.alt .input-container {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.login_container.active .card.alt .input-container:nth-child(2) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.login_container.active .card.alt .input-container:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.login_container.active .card.alt .button-container {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}


/* Card */
.login_card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt Card */
}
.login_card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}
.login_card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #1d3557;
    margin: 0 0 35px;
    padding: 10px 0 10px 10px;
    color: #1d3557;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.login_card .input-container {
    position: relative;
    margin: 0 60px 50px;
}
//.login_card .input-container input {
//    outline: none;
//    z-index: 1;
//    position: relative;
//    background: none;
//    width: 100%;
//    height: 60px;
//    border: 0;
//    color: #212121;
//    font-size: 24px;
//    font-weight: 400;
//}

.login_card .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.login_card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.login_card .input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.login_card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.login_card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.login_card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: #1d3557;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.login_card .input-container .bar:before {
    left: 50%;
}
.login_card .input-container .bar:after {
    right: 50%;
}
.login_card .button-container {
    margin: 0 60px;
    text-align: center;
}
.login_card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #1d3557;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.login_card .button-container button span {
    position: relative;
    z-index: 1;
    color: #1d3557;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.login_card .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #1d3557;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.login_card .button-container button:hover, .card .button-container button:active, .login_card .button-container button:focus {
    border-color: #1d3557;
}
.login_card .button-container button:hover span, .card .button-container button:active span, .login_card .button-container button:focus span {
    color: #1d3557;
}
.login_card .button-container button:active span, .login_card .button-container button:focus span {
    color: #ffffff;
}
.login_card .button-container button:active:before, .login_card .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}
.login_card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.login_card .footer a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.login_card .footer a:hover {
    color: #bababa;
}
.login_card.alt {
    position: absolute;
    top: 40px;
    right: -35px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
}
.login_card.alt .toggle {
    position: relative;
    background: #1d3557;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}
.login_card.alt .toggle:before {
    content: '\f007';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.login_card.alt .title,
.login_card.alt .input-container,
.login_card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}
.login_card.alt .title {
    position: relative;
    border-color: #ffffff;
    color: #ffffff;
}
.login_card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
}
.login_card.alt .title .close:before {
    content: '\00d7';
}
.login_card.alt .input-container input {
    color: #ffffff;
}
.login_card.alt .input-container input:focus ~ label {
    color: #ffffff;
}
.login_card.alt .input-container input:focus ~ .bar:before, .login_card.alt .input-container input:focus ~ .bar:after {
    background: #ffffff;
}
.login_card.alt .input-container input:valid ~ label {
    color: #ffffff;
}
.login_card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
}
.login_card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8);
}
.login_card.alt .button-container button {
    width: 100%;
    background: #ffffff;
    border-color: #ffffff;
}
.login_card.alt .button-container button span {
    color: #1d3557;
}
.login_card.alt .button-container button:hover {
    background: rgba(255, 255, 255, 0.9);
}
.login_card.alt .button-container button:active:before, .login_card.alt .button-container button:focus:before {
    display: none;
}


/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}
@keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}


@media screen and (max-width: 767px) {

    .middle-border {
        min-height: 5px;
        margin-top: 5px;
        border:none;
        width: 5px;
    }


    .login_container.active .login_card.alt .toggle {
        position: absolute;
        width: 40%;

        top: 40px;
        right: -5px;
        box-shadow: none;
        -webkit-transform: scale(10);
        transform: scale(10);
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }

    .description p{

        font-size: 12px;
    }



}

@media (min-width: 768px) and (max-width: 992px) {

    .middle-border {
        min-height: 5px;
        margin-top: 5px;
        border:none;
        width: 5px;
    }

    .description p{

        font-size: 12px;
    }


}


@media (min-width: 992px) and (max-width: 1199px) {

    .bg {

        min-height: auto !important;
        width: auto !important;

    }
    .bg:before {

        padding: 0;
        margin: 0;
        min-height: auto !important;
        width: auto !important;

    }



    .login_container.active .login_card.alt .toggle {
        position: absolute;
        width: 40%;

        top: 40px;
        right: -20px;
        box-shadow: none;
        -webkit-transform: scale(10);
        transform: scale(10);
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }

}