$dark-blue: #1D3557;
$queen-blue: #457B9D;
$light-blue: #A8DADC;
$honey-dew: #F1FAEE;
$bright-red: #E63946;
$dark-blue-aplha: #A7C4D2;

$font-family : 'Open Sans', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;