<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NiftBinz</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
    <link rel="apple-touch-icon-precomposed" href="">

</head>

<body class="bg">



<!-- Top content -->
<div class="bg">
<div class="top-content ">



    <div class="inner-bg">


        <div class="container">


            <div class="row">
                <div class="col-md-8 text">
                    <img src="assets/img/NIFTY%20BINZ%20LOGO%25403x.png" width="150Px" style="float:left;" class="img-responsive" >
                    <!--<h1><strong>NiftBinz</strong></h1> -->


                    <div class="description">

                        <p style="font-size:30px;text-align:left;margin-left:170px;">
                            One<br /> stop<br /> solution<br /> for all your archiving needs
                        </p>
                    </div>
                </div>
            </div>

            <div class="row matter">

                <div class="col-md-5 phone">
                    <img src="assets/img/iphone.png" alt="" width="280px">

                    <div class="social-login">
                        <h3></h3>
                        <div class="social-login-buttons">
                            <a class="btn" href="#">
                                <img src="assets/img/applestore.png" width="150px">
                            </a>
                            <a class="btn" href="#">
                                <img src="assets/img/google-play.png" width="150px">
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-1 middle-border"></div>
                <div class="col-md-1"></div>

                <div class="col-md-5">

                    <div class="container">
                        <div class="card"></div>
                        <div class="card">
                            <h1 class="title">SIGN IN</h1>
                            <form>
                                <div class="input-container">
                                    <input type="text" id="#{label}"  ng-model="user.name" required="required"/>
                                    <label for="#{label}">Username</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <input type="password" id="#{label}" ng-model="user.password" required="required"/>
                                    <label for="#{label}">Password</label>
                                    <div class="bar"></div>
                                </div>
                                                    <div class="validation">
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        <span ng-if="invalidData" style="color: #3E3C3C;font-size: 18px;font-weight: 300;
                        text-align: center;">Invalid Username/Password</span> </div>
                                <div class="button-container">
                                    <button ng-click="onLoginCheck()"><span>LOGIN</span></button>
                                </div>
                                <div class="footer"><a href="#">Forgot your password?</a></div>
                            </form>
                        </div>
                        <div class="card alt">
                            <div class="toggle"></div>
                            <h1 class="title">SIGN UP
                                <div class="close"></div>
                            </h1>
                            <form>
                                <div class="input-container">
                                    <input type="#{type}" id="#{label}" required="required"/>
                                    <label for="#{label}">Username</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <input type="#{type}" id="#{label}" required="required"/>
                                    <label for="#{label}">Password</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <input type="#{type}" id="#{label}" required="required"/>
                                    <label for="#{label}">Confirm Password</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="button-container">
                                    <button><span>Next</span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                            </form>
                        </div>
                    </div> -->

                    <div class="social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-2" ng-click="onFaceBookLogin()">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <!--<a class="btn btn-link-2" href="#">-->
                                <!--<i class="fa fa-twitter"></i> Twitter-->
                            <!--</a>-->
                            <a class="btn btn-link-2" ng-click="onGoogleLogin()">
                                <i class="fa fa-google" ></i> Google
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</div>

<!--
      <footer>
          <div class="container">
              <div class="row">

                  <div class="col-md-12">
                      <div class="footer-border"></div>
                      <p>Copyright 2017<a href="http://chiteacake.com" target="_blank"><strong> NiftBinz</strong></a>
                          </p>
                  </div>

              </div>
          </div>
      </footer>
-->
<!-- Javascript -->
<!--<script src="assets/js/jquery-1.11.1.min.js"></script>-->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="assets/js/jquery.backstretch.js"></script> -->
<script src="assets/js/scripts.js"></script>

<script>

    $('.toggle').on('click', function() {
        $('.container').stop().addClass('active');
    });

    $('.close').on('click', function() {
        $('.container').stop().removeClass('active');
    });

</script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>